* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

main {
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
input,
select {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

a{
    text-decoration: none;
}


img{
    vertical-align: middle;
}


/* Home page start */

.nav-img{
    width: 150px;
    height: 60px;
}
.nav-btn{
    background-color: #793bf3;
    color: #ffffff;
    border: #793bf3;
    cursor: auto;
    border: #000;
    text-transform:uppercase;
}
.nav-btn:hover{
    background-color: #f6f6f6;
    color: #793bf3;
}

.nav-link{
    color: #1f232b;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
}
.nav-link:hover{
    color: #55bce7;
}

.homePage .home_carousel{
    background-color: lightgray;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* margin-top: 410px; */
}


.homePage .fa-user:before{
    content: "\f007";
    display: block;
    width: 50%;
    margin: auto;
    font-size: 20px;
}

.homePage .fa-calendar:before {
    content: "\f133";
    display: block;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

.homePage .fa-ribbon:before {
    content: "\f4d6";
    display: block;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

.homePage .sub_amt_sec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* 
.homePage .img_doc{
    height: 650px;
    width: 950px;
} */

.homePage .card_group_amt{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.homePage .carousel_extra{
    margin-top: 200px;
    /* margin-top: 410px; */
    background-color: #003e53;
    color: #55bce7;
}

.homePage .lightfont{
    color: #fff;
    font-size: 25px;
}

.homePage .highlight{
    color: #55bce7;
}

.homePage .input1{
    padding: 10px;
    opacity: 0.6;
    color: #fff;
}



.homePage .div_super{
    position: absolute;
    top: -643px;
    left: 150px;
}

.homePage .secMain{
    position: absolute;
}

.homePage .form1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.homePage .extra{
    height: 150px;
}

.homePage .para_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .whole_div{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1000px;
}

.homePage .input1{
    background-color: #000;
    opacity: 0.6;
}


/* .homePage .home_carousel2{
    background:  linear-gradient(90deg, rgba(115,111,179,1) 0%, rgba(85,188,231,1) 100%);
    opacity: 0.8;
} */
/* 
.homePage .div_back{
    display: flex;
    flex-direction: column;
} */

/* .homePage .input1{
    background-color: #000;
    opacity: 0.6;
} */

.text-gradient{
    font-size: 168px;
    font-weight: 900;
    word-wrap: break-word;
    margin: 0%;
    padding: 0%;

    /* font-family: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,900&display=swap'); */
}
.amt-text__ {
    position: relative;
    margin-bottom: 80px;
    
}

.amt-text-img{
    /* justify-content:flex-end;     */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.amt-text{
    width: 50%;
}
.amt-head-img{
    width: 50%;
}
.head-amt-text{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.subhead-amt-text{
    font-size: 14px;
    color: #1f232b;
    font-weight: 600;
}

.homePage .cards_main_div{
    margin-top: 20px;
}

.amt-para{
    text-align: justify;
}
.amt-img{
    width: 100%;
    height: auto ;
    float: right;
    display: b;
}
.banner-1-0{
    font-size: 3rem;
    font-weight: 100;
    color: #1f232b;
}
.banner-1-1{
    font-weight: 900;
    font-size: 45px;
    color: #1f232b;
}
.carousel-text-1{
    padding-bottom: 16%;
}
.details-text{
    font-size: 40px;
    font-weight:900;
}
.title-font{
    color: #55bce7;
}
.fa-solid{
    color: #55bce7;
    font-size: 30px;
}

 /* .bg-form-img{
} */
.bg-form-text{
    position: absolute;
    top: -50px;
    text-align: center;
}

.homePage .input_form{
    background-color: #000;
    opacity: 0.6;
    padding: 10px;
    color: #fff;
}

.homePage .form_1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homePage .img_bg{
    position: absolute;
}

/* .homePage .whole_form{
    display: block;
    width: 50%;
} */

/* .homePage .whole_form{
    margin-top: 150px;
} */

.homePage .text_form{
    text-align: center;
}

.homePage .main_div_form{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 150px;
}

.homePage .cards_div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.homePage .portion1{
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}


/* Home page end */


/* aplicant page start */



.aplicantPage .banner{
    position: relative;
}

.aplicantPage .banner .heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.aplicantPage .banner h2 {
    color: #FF010A;
    font-weight: 900;
    font-size: 64px;
}


.aplicantPage .banner .body .divider{
    position: absolute;
    bottom: 0;
    background-color: #003e53;
    padding: .6rem;
    width: 100%;
}

.aplicantPage .banner .body .divider::after{
    content: '\f0d7';
    font-family: "Font Awesome 6 free";
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    /* background-color: #003e43; */
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
}
/* aplicant page end */

/* Find a job starting*/
.findajob .carousel-item{
    background: -webkit-linear-gradient(#736fb3,#55bce7);
    height: 300px;
}

.findajob .find_heading{
    font-size: 40px;
    font-weight: 600;
    /* display: block;
    width: 25%;
    margin: auto; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #fff;
}

.findajob .find_heading_sub{
    display: flex;
    font-size: 15px;
    gap: 20px;
    justify-content: center;
}

.findajob .find_sub_p{
    color: #fff;
}

.findajob .findajob_section_2{
    background: -webkit-linear-gradient(#736fb3,#55bce7);
    /* display: block;
    width: 75%;
    margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.findajob .magnify{
    background-color: #ffffff;
    padding: 15px;
    color: #000;
    font-size: 15px;
}


.findajob .magnify:hover{
    background-color: #55bce7;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    transition: 0.9s;
}

.findajob .input_find_a_job_section2{
    padding: 10px;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    border-radius: 10px;
}

.findajob .section3{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.findajob .section3_text_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.findajob .img_sec3{
    display: flex;
    flex-direction: column;
}

.findajob .a_section3{
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.findajob .a_section3:hover{
    color: #55bce7;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

.findajob .div_sec33{
    display: flex;
    align-items: center;
    justify-content: center;
}

.findajob .img_section3{
    display: flex;
    flex-direction: column;
}

.findajob .sec3{
    margin-top: 50px;
}

.findajob .fa-location-dot{
    font-size: 15px;
}

.findajob .p_div_33{
    font-size: 15px;
}

.findajob .div_sec3{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.findajob .fa-calendar-days{
    font-size: 15px;
}

.findajob .div_sec33{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.findajob .p_div_33{
    font-size: 14px;
}




/* Find a job end */

/* HOME MY CSS START */

.homePage .h1_aos{
    margin-left: 95px;
    font-size: 30px;
    font-weight: bold;
}

.div_1_amt{
    width: 50%;
}

.homePage .img_aos{
    height: 125px;
}

.homePage .p_aos{
    font-size: 15px;
    color: lightgray;
    margin-top: 10px;
}

.homePage .amt_testimonials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.homePage .amt_single_testimonial{
    display: flex;
    align-items: center;
    gap: 10px;
}

.homePage .form-control{
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    border-radius: none;
}

.homePage .amt_form{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.homePage .amt_linear_img{
    margin-top: 50px;
    position: absolute;
}

.homePage .text_amt{
    text-align: center;
    position: absolute;
    margin-top: 90px;
}

.homePage .p_amt_home{
    font-size: 15px;
    color: #fff;
}

.homePage .h1_amt_home{
    font-size: 60px;
    color: #fff;
}

.homePage .amt_form_sec{
    display: flex;
    margin-top: 190px;
    gap: 50px;
    flex-wrap: wrap;
}

.homePage .div_2_amt{
    width: 50%;
}
/* 
.homePage .section_fourth{
    position: relative;
    top: 190px;
} */

.homePage .flip_amt_carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 1022px){
    .amt_linear_img{
        height: 750px;
    }

    .amt_form_sec{
        display: block;
    }

    .amt_form_sec{
        display: block;
    }
}

@media only screen and (max-width: 280px){
    .flip_amt_carousel{
        margin-top: 15px;
    }

    .card{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px){
    .form_1_amt{
        display: block;
        width: 50%;
        margin: auto;
    }
    .form_2_amt{
        display: block;
        width: 50%;
        margin: auto;
    }
}

@media only screen and (max-width: 374px){
    .h1_amt_home{
        font-size: 30px;
    }
}

@media only screen and (max-width: 334px){
    .homePage .h1_amt_home{
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px){
    .homePage .sub_amt_sec{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homePage .lightfont{
        font-size: 20px;
    }
}

/* HOME MY CSS END */